footer {
    background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
    color : #fff;
    padding : 5px;
}

#map {
	height : 100%;
	width : 100%;
	padding : 0;
	margin : 0;
}

#cards {
	background-color : #666666;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align : center;
	margin : 0;
	padding : 0;
}

#options {
	width : 100%;
	text-align: center;
}

#options form {
	padding: 5px 0;
}

.row {
	margin : 0;
	padding : 0;
}

div {
	margin: 0;
	padding: 0;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar {
	margin-bottom : 0;
}

.flip {
	-webkit-perspective: 800;
	width: 47%;
	margin : 5px;
	height: 200px;
	float : left;
}
.flip .card.flipped {
	-webkit-transform: rotatex(-180deg);
}
.flip .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}
.flip .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	z-index: 2;
	font-family: Georgia;
	font-size: 10px
	text-align: center;
}

.flip .card .front {
	position: absolute;
	z-index: 1;
	background: #000000;
	color: white;
	cursor: pointer;
}
.flip .card .back {
	-webkit-transform: rotatex(-180deg);
	background: #bb0000;
	color: #ffffff;
	cursor: pointer;
	padding : 10px;
}

.flip .card .back a {
	color : #ffffff;
}

.player-image {
	height : 120px;
	padding : 5px;
}

.navbar-brand {
	padding-left : 30px;
	color : #bb0000;
}